<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qf.dao.HistoryDao">
    <resultMap id="userMap" type="user">
        <id column="uid" property="uid"/>
        <result column="nickname" property="nickname"/>
        <result column="sex" property="sex"/>
        <result column="birthday" property="birthday"/>
        <result column="sign" property="sign"/>
        <result column="phone" property="phone"/>
        <result column="email" property="email"/>
        <result column="password" property="password"/>
        <result column="vip_level" property="vipLevel"/>
        <result column="vip_deaddate" property="vipDeadDate"/>
        <result column="great" property="great"/>
        <result column="image" property="image"/>
    </resultMap>
    <resultMap id="videoMap" type="video">
        <id column="vid" property="vid"/>
        <result column="title" property="title"/>
        <result column="description" property="description"/>
        <result column="type" property="type"/>
        <result column="clicks" property="clicks"/>
        <result column="collections" property="collections"/>
        <result column="great" property="great"/>
        <result column="videopath" property="videopath"/>
        <result column="date" property="date"/>
    </resultMap>

    <select id="showHistory" resultMap="videoMap">
        SELECT v.vid,v.title,v.description,v.type,v.clicks,v.collections,v.great,v.videopath,v.date,v.update_time FROM video v,history h,user_history uh,user WHERE user.uid=#{uid}=uh.uid AND uh.hid=h.hid AND h.vid=v.vid
    </select>
    <delete id="deleteHistory">
        delete from history where history.vid=#{vid}
    </delete>
</mapper>
    