<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qf.dao.UserInfoDao">
    <resultMap id="userMap" type="user">
        <id column="uid" property="uid"/>
        <result column="nickname" property="nickname"/>
        <result column="sex" property="sex"/>
        <result column="birthday" property="birthday"/>
        <result column="sign" property="sign"/>
        <result column="phone" property="phone"/>
        <result column="email" property="email"/>
        <result column="password" property="password"/>
        <result column="vip_level" property="vipLevel"/>
        <result column="vip_deaddate" property="vipDeadDate"/>
        <result column="great" property="great"/>
        <result column="image" property="image"/>
    </resultMap>
    <resultMap id="videoMap" type="video">
        <id column="vid" property="vid"/>
        <result column="title" property="title"/>
        <result column="description" property="description"/>
        <result column="type" property="type"/>
        <result column="clicks" property="clicks"/>
        <result column="collections" property="collections"/>
        <result column="great" property="great"/>
        <result column="videopath" property="videopath"/>
        <result column="date" property="date"/>
    </resultMap>
    <select id="selectUserByUid" resultMap="userMap">
        select * from user where uid=#{uid}
    </select>
    <update id="updateUserInfo">
        update user set user=#{user}
    </update>
    <select id="selectVideosByUid" resultMap="videoMap">
        select  v.vid,v.title,v.description,v.type,v.clicks,v.collections,v.great,v.videopath,v.date  from user_push up,video v,user where user.uid=up.uid=#{uid} and up.vid=v.vid
    </select>
    <update id="updateVideoInfo">
        update video set video=#{video}
    </update>
    <delete id="deleteVideoByVid">
        delete from video where vid=#{vid}
    </delete>
    <select id="selectCollectVideos" resultMap="videoMap">
        select v.vid,v.title,v.description,v.type,v.clicks,v.collections,v.great,v.videopath,v.date from user_collections uc,video v,user where user.uid=uc.uid=#{uid} and uc.vid=v.vid
    </select>
    <delete id="deleteCollectVideos">
        delete from user_collections where uid=#{uid} and vid=#{vid}
    </delete>
    <insert id="insertCollections">
        insert into user_collections (uid,vid) values(#{uid},#{vid})
    </insert>
    <select id="selectUserFansId" resultType="int">
        select fansid from user_fans where uid=#{uid}
    </select>


</mapper>
    