<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.dao.VideoDao">

    <update id="addgreat" parameterType="int">

        UPDATE video SET great=great+1 WHERE vid=#{vid}

    </update>

    <update id="delgreat" parameterType="int">

        UPDATE video SET great=great-1 WHERE vid=#{vid}

    </update>

    <insert id="collections" parameterType="int">

        INSERT into user_collections (uid,vid) VALUES (#{uid},#{vid})

    </insert>

    <delete id="delcollections" parameterType="int">

        delete from user_collections where uid=#{uid} and vid=#{vid}

    </delete>

    <update id="updatecollections" parameterType="int">

        update video set collections=collections+#{co} where vid=#{vid}

    </update>



    <select id="findAllgreat" parameterType="int" resultType="Video">

        select great from video where vid=#{vid}

    </select>

    <select id="findMyCollectons" parameterType="int" resultType="Video">

        SELECT * FROM `user`,video,user_collections WHERE
        `user`.`uid`=user_collections.`uid`
        AND user_collections.`vid`=video.`vid`
        AND user.`uid`=#{uid}

    </select>

    <insert id="follow" >

        insert into follow (uid,fid,fdate) VALUES (#{uid},#{fid},#{date})

    </insert>

    <insert id="followgroup"  parameterType="int" >

        insert into group_user (gid,uid,fid) VALUES (#{gid},#{uid},#{fid})

    </insert>

    <delete id="delfollow" parameterType="int">

        delete from follow where uid=#{uid} and fid=#{fid}

    </delete>

    <delete id="delgroup" parameterType="int">

        delete from group_user where uid=#{uid} and fid=#{fid}

    </delete>

    <select id="findAllFollow" parameterType="int" resultType="User">

        SELECT * FROM `user`,group_user WHERE
        `user`.`uid`=group_user.`fid`
        AND group_user.uid=#{uid}

    </select>

    <select id="findfollow" parameterType="int" resultType="User">

        SELECT * FROM `user`,group_user WHERE
        `user`.`uid`=group_user.`fid`
        AND group_user.`gid`=#{gid}
        AND group_user.uid=#{uid}

    </select>

    <select id="findFollowOne" parameterType="int" resultType="User">

        SELECT * FROM follow,`user`WHERE follow.`fid`=`user`.`uid`
        AND follow.`uid`=#{uid}
        AND follow.`fid`=#{fid}

    </select>

    <update id="group" parameterType="int">

        update group_user set gid=#{gid} where uid=#{uid} and fid=#{fid}

    </update>

    <delete id="delGroupByGid" parameterType="int">

        delete from `group` where gid=#{gid}

    </delete>

    <insert id="creatgroup">

        insert into `group` (gname,uid) VALUES (#{gname},#{uid})

    </insert>

    <select id="findGroupByGname" resultType="Group">

        select * from `group` where gname=#{gname} and uid=#{uid}

    </select>

    <select id="findGroupById" parameterType="int" resultType="Group">

        select * from `group` where uid=#{uid}

    </select>

    <select id="findFans" parameterType="int" resultType="User">

        SELECT * FROM `user`,user_fans WHERE `user`.`uid`=user_fans.`fansid`
        AND user_fans.`uid`=#{uid}

    </select>

    <insert id="addfans" parameterType="int">

        insert into user_fans (uid,fansid) values(#{fid},#{uid})

    </insert>

    <insert id="addhistory">

        insert into history (vid,`date`,uid) VALUES (#{vid},#{date},#{uid})

    </insert>

    <insert id="addhistoryuser" parameterType="int">

        INSERT into user_history (uid,hid) VALUES (#{uid},#{hid})

    </insert>

    <select id="findhistory" parameterType="int" resultType="History">

        select * from history where uid=#{uid} ORDER BY `date`  DESC

    </select>

    <select id="findhistoryuser" parameterType="int" resultType="History">

        select * from history where uid=#{uid} and vid=#{vid}

    </select>

    <update id="updhistory">

        update history set `date`=#{date} where uid=#{uid} and vid=#{vid}

    </update>

    <insert id="addgroup" parameterType="int">

        insert into user_group (uid,gid) VALUES (#{fid},#{gid})

    </insert>

    <select id="findgroupuser" resultType="Group">

        select * from user_group where uid=#{fid} and gid=#{gid}

    </select>

    <insert id="addfollow" parameterType="int">

        INSERT  into user_follow (uid,fid) VALUES (#{uid},#{fid})

    </insert>

    <select id="findvideo" parameterType="int" resultType="Video">

        select * from video where vid=#{vid}

    </select>

    <select id="findUpUser" resultType="User" parameterType="int">

         SELECT `user`.uid,`user`.nickname,`user`.`sign`,`user`.`userimage` FROM `user`,user_push,video WHERE
            user_push.`vid`=video.`vid`
        AND `user`.`uid`=user_push.`uid`
        AND video.vid=#{vid}

    </select>

    <delete id="deluserfollow" parameterType="int">

        delete from user_follow where uid=#{uid} and fid=#{fid}

    </delete>

    <delete id="deluserfans" parameterType="int">

        delete from user_fans where uid=#{fid} and fansid=#{uid}

    </delete>

    <select id="findUserCollection" resultType="UserCollections" parameterType="int">

      select * from user_collections where uid=#{uid} and vid=#{vid}

    </select>

    <select id="findAllCollection" resultType="Video" parameterType="int">

        select collections from video where vid=#{vid}

    </select>


    <select id="findVideoByType"  resultType="Video">

        select `user`.uid,`user`.nickname,`user`.sign,`user`.userimage,video.vid,video.title,video.description,video.type,video.clicks,
        video.collections,video.great,video.videopath,video.date,video.date,video.image
        from `user`,video,user_push
        where `user`.uid=user_push.uid
        and user_push.vid=video.vid
        and video.type=#{type} LIMIT #{begin},#{size}

    </select>

    <select id="paihangbang" resultType="Video">

        select `user`.uid,`user`.nickname,`user`.sign,`user`.userimage,video.vid,video.title,video.description,video.type,video.clicks,
        video.collections,video.great,video.videopath,video.date,video.date,video.image
        from `user`,video,user_push
        where `user`.uid=user_push.uid
        and user_push.vid=video.vid
        and video.type=#{type} ORDER BY clicks DESC LIMIT #{begin},#{size}

    </select>

    <select id="findAllByType" resultType="Video">

        select `user`.uid,`user`.nickname,`user`.sign,`user`.userimage,video.vid,video.title,video.description,video.type,video.clicks,
        video.collections,video.great,video.videopath,video.date,video.date,video.image
        from `user`,video,user_push
        where `user`.uid=user_push.uid
        and user_push.vid=video.vid
        and video.type=#{type}


    </select>

    <select id="paihangbangAll" resultType="Video">

        select `user`.uid,`user`.nickname,`user`.sign,`user`.userimage,video.vid,video.title,video.description,video.type,video.clicks,
        video.collections,video.great,video.videopath,video.date,video.date,video.image
        from `user`,video,user_push
        where `user`.uid=user_push.uid
        and user_push.vid=video.vid
        and video.type=#{type} ORDER BY clicks DESC


    </select>
</mapper>